<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<h2><a href="/">홈</a></h2>

<a sec:authorize = "isAnonymous()" th:href="@{/user/login}">로그인</a>
<a sec:authorize = "isAnonymous()" th:href="@{/signup}">회원가입</a>
<a sec:authorize = "isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
<a sec:authorize = "hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>
<a sec:authorize = "hasRole('ROLE_MEMBER')" th:href="@{/post}">글쓰기</a>
<a sec:authorize = "hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
<hr>