<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<body>
<h2 th:text = "${recordDto.record_id}"></h2>
<p th:text = "${recordDto.start_hardness}"></p>
<p th:text = "${recordDto.start_hardness}"></p>
<p th:text = "${recordDto.arrival_latitude}"></p>
<p th:text = "${recordDto.arrival_hardness}"></p>
<p th:text = "${recordDto.time}"></p>
<p th:text = "${recordDto.memo}"></p>


<div>
  <a th:href="@{'/post/edit/' + ${recordDto.record_id}}">
    <button>수정</button>
  </a>

  <form id = "delete-form" th:action ="@{'/post/'+${recordDto.record_id}}" method="post">
    <input type = "hidden" name = "_method" value="delete"/>
    <button id = "delete-btn">삭제</button>
  </form>
</div>

<script th:inline = "javascript">
  /*<![CDATA[*/
  var recordDto = /*[[${recordDto}]]*/ "";
  /*]]>*/
</script>

<script th:inline ="javascript" th:src = "@{/js/runner.js}"></script>
</body>
</html>