<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<body>
<form th:action = "@{'/post/edit/' + ${recordDto.runner_id}}" method="post">
    <input type = "hidden" name ="_method"  value="put"/>
    <input type = "hidden" name ="runner_id" th:value="${recordDto.runner_id}"/>

    이메일 : <input type = "text" name = "email" th:value = "${recordDto.email}"> <br>
    level : <input type="text" name="level" th:value = "${recordDto.level}"> <br>
    nickname : <input type="text" name="nickname" th:value = "${recordDto.nickname}"> <br>
    password : <input type="text" name="password" th:value = "${recordDto.password}"> <br>
    running : <input type="text" name="running" th:value = "${recordDto.running}"> <br>
    time : <input type="text" name="time" th:value = "${recordDto.time}"> <br>
    withdrawal_date : <input type="text" name="withdrawal_date" th:value = "${recordDto.withdrawal_date}"> <br>


    <input type="submit" value="수정">
</form>
</body>
</html>