<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a sec:authorize = "isAnonymous()" th:href="@{/user/login}">로그인</a>-->
<!--<a sec:authorize = "isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
<!--<a sec:authorize = "isAnonymous()" th:href="@{/user/signup}">회원가입</a>-->
<!--<a sec:authorize = "hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>-->
<!--<a sec:authorize = "hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>-->

<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<!--<a th:href="@{/post}">글쓰기</a>-->

<form action="/search" method="get">
    <div>
        <input name="keyword" type="text" placeholder="검색을 해볼까요?">
    </div>
    <button>검색</button>
</form>
<table >
    <tr>
        <th class = "one wide"> 번호</th>
        <th class = "ten wide"> 글제목</th>
        <th class = "two wide"> 작성자</th>
        <th class = "three wide"> 작성일</th>
    </tr>

    <tbody>
    <tr th:each ="runner : ${runnerList}">
        <td>
            <span th:text = "${runner.record_id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${runner.record_id}}">
                <span th:text = "${runner.level}"></span>
            </a>
        </td>
        <td>
            <span th:text="${runner.memo}"></span>
        </td>
        <td>
<!--                    <span th:text = "${#temporals.format(runner.createdDate,'yyyy-MM-dd HH:mm')}"></span>-->
        </td>
    </tr>
    </tbody>
</table>
<div>
    <span th:each="pageNum: ${pageList}" th:inline="text">
        <a th:href="@{'/?page='+${pageNum}}">[[${pageNum}]]</a>
    </span>
</div>
<div id="map" style="width:500px;height:400px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a98e35832dfe46e994af9d858e90ccbc" >
</script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>


</body>
</html>