<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<form  action="/post" method="post">

  <input type="hidden" th:name = "${_csrf.parameterName}" th:value="${_csrf.token}"/>
  member_id : <input type="hidden" name="member_id"> <br>

  record_id : <input type="text" name="record_id"> <br>
  start_latitude : <input type="text" name="start_latitude"> <br>
  start_hardness : <input type="text" name="start_hardness"> <br>
  arrival_latitude : <input type="text" name="arrival_latitude"> <br>
  time : <input type="text" name="time"> <br>
  memo : <input type="text" name="memo"> <br>
  heart : <input type="text" name="heart"> <br>
  level : <input type="text" name="level"> <br>
  view : <input type="text" name="view"> <br>
  <input type="submit" value="등록" >
</form>
</body>
</html>